* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 120px;
    background-color: #f6e3ff !important;
}

.nav-item {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-family: "Lora", serif;
}

.contact-us {
    background-color: #ac42df;
    color: white !important;
    border-radius: 100px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
}

.bundle {
    min-height: 950px;
    background-color: #ac42df;
}

.bundle h1 {
    margin-top: 200px;
    color: white;
    font-weight: 400;
    font-family: "Poppins";
}

.bundle h1 span {
    font-weight: 900;
}

.bundle p {
    color: white;
    font-size: 20px;
    font-family: "Poppins";
}

.bundle .pilihan {
    margin-right: 23px;
    transition: 300ms;
}

.bundle .pilihan:hover {
    transform: scale(1.2);
}

.bundle .standart {
    margin-left: -70px;
}

.footer {
    background-color: #f6e3ff;
    min-height: 300px;
}

.footer p {
    margin-bottom: 0;
}

.footer .kedua {
    color: #ac42df;
}

.footer .contact {
    text-align: right;
}

.footer .sosmed {
    text-decoration: none;
    color: #ac42df;
    margin-right: 15px;
    margin-left: 15px;
}

.footer .maps a,
.footer .contact a {
    text-decoration: none;
}
